langchain
langchain-openai
langchain-groq
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel
pandas
docx2txt
unstructured
python-docx
openpyxl
jq
langchain-huggingface
sentence-transformers
langchain-astradb
langchain-core
faiss-cpu
langchain-pinecone
pinecone
langchain-experimental
rank_bm25
wikipedia